@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.container {
    background-color: #fff4e6;
    width: 100vw;
    height: 100vh;

    display: grid;
    grid-template-columns: repeat(4,25%);
    grid-template-rows:100px 120px 120px 140px;

}
.name{
  background-color: chocolate;
  grid-column: 1/-1;
  grid-row: 1/2;
}
.social-1{
  background-color: coral;
  display: grid;
  grid-template-columns: repeat(4, 80px);
  grid-template-rows: 100px;

  grid-row: 2/3;
  grid-column: 1/-1;
  align-items: center;
  justify-items: center;
}
.box-1 {
  display: inline-block;
  color: #fff;
  font-size: 36px;
  padding: 10px;
}
.social-2{
  background-color:cadetblue;
  display: grid;
  grid-template-columns: repeat(4, 80px);
  grid-template-rows: 100px;

  grid-row: 3/4;
  grid-column: 1/-1;
  align-items: center;
  justify-items: center;
}
.box-2 {
  display: inline-block;
  color: #fff;
  font-size: 36px;
  padding: 10px;
}
.carousel{
  display: grid;
}
.carousel-img{
  background-color: burlywood;
}